div.main-login {
    /*text-align: center;*/
    background-color: white;
    margin: auto;
    max-width: 1080px;
    margin: auto;

}

div.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}