.label{
    /* color: #0d6efd; */
    font-weight: bolder;
}
.code-input {
    display: flex;
    justify-content: center;
}
.code-input input[type="text"] {
    width: 40px;
    padding: 12px 5px;
    margin: 8px 8px;
    box-sizing: border-box;
    background-color: rgb(50, 50, 50);
    color: white;
    border: 2px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}

.code-input input[type="text"]:focus {
    background-color: #161b22;
}
